/* line 1, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_primary {
  line-height: 20px;
}
/* line 4, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_primary .footer {
  margin-top: 25px;
}
/* line 8, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_primary .node {
  border: 1px solid #e6e6e6;
  padding: 9px 9px 9px 14px;
  margin: 5px;
  border-radius: 5px;
  display: block;
  font-size: 28px;
  line-height: 48px;
  font-weight: bold;
}

/* line 21, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_defaultnodelist .to-frontpage {
  font-size: 14px;
  float: right;
  margin-left: 10px;
  font-weight: normal;
}
/* line 28, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_defaultnodelist i {
  margin-right: 5px;
}

/* line 33, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_betawarning {
  line-height: 20px;
}

/* line 39, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator a {
  margin-right: 15px;
  float: right;
}
/* line 44, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator i {
  margin-right: 5px;
}
/* line 48, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator span {
  margin-right: 50px;
}

/* line 56, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_secondary .footer {
  margin: 20px 0px 20px 0px;
}

/* line 64, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview h3 {
  font-style: italic;
}
/* line 68, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 73, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .subject {
  padding: 0em 0.2em 0.8em 0.2em;
  margin: 0.5em 0em 10px 0.5em;
  border: 1px solid gainsboro;
  border-radius: 0.5em;
  overflow: auto;
}
/* line 83, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .subject-name {
  clear: both;
  padding: 1em 0.2em 0em 0.6em;
}
/* line 88, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .active {
  float: left;
  width: 30%;
}
/* line 92, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .inactive {
  float: left;
  width: 65%;
}
/* line 96, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .period {
  float: left;
  width: 23%;
  /* period block width */
  display: inline-block;
  padding: 2px;
  text-align: left;
}
/* line 105, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .period a {
  font-style: italic;
  text-decoration: none;
}
/* line 110, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .emphasized {
  text-decoration: underline;
}
/* line 114, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview .period-active {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  min-width: 100px;
  padding: 0em 0.2em 0.5em 0.2em;
}
