.devilry_nodeadmin_primary {
  line-height: 20px;

  .footer {
    margin-top: 25px;
  }

  .node {
    border: 1px solid rgb( 230, 230, 230 );
    padding: 9px 9px 9px 14px;
    margin: 5px;
    border-radius: 5px;
    display: block;
    font-size: 28px;
    line-height: 48px;
    font-weight: bold;
  }
}

.devilry_nodeadmin_defaultnodelist {
    .to-frontpage {
      font-size: 14px;
      float: right;
      margin-left: 10px;
      font-weight: normal;
    }

    i {
      margin-right: 5px;
    }
}

.devilry_nodeadmin_betawarning {
  line-height: 20px;
}

.devilry_nodeadmin_navigator {

  a {
    margin-right: 15px;
    float: right;
  }

  i {
    margin-right: 5px;
  }

  span {
    margin-right: 50px;
  }

}

.devilry_nodeadmin_secondary {

  .footer {
    margin: 20px 0px 20px 0px;
  }

}


.devilry_nodeadmin_nodedetailsoverview {
  h3 {
    font-style: italic;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .subject {
    padding: 0em 0.2em 0.8em 0.2em;
    margin: 0.5em 0em 10px 0.5em;

    border: 1px solid rgb( 220, 220, 220 );
    border-radius: 0.5em;

    overflow: auto;
  }

  .subject-name {
    clear: both;
    padding: 1em 0.2em 0em 0.6em;
  }

  .active {
    float: left;
    width: 30%;
  }
  .inactive {
    float: left;
    width: 65%;
  }
  .period {
    float: left;
    width: 23%; /* period block width */
    display: inline-block;
    padding: 2px;

    text-align: left;
  }

  .period a {
    font-style: italic;
    text-decoration: none;
  }

  .emphasized {
    text-decoration: underline;
  }

  .period-active {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    min-width: 100px;

    padding: 0em 0.2em 0.5em 0.2em;
  }

  .period-ellipsis {

  }

}

